.app {
  text-align: center;
  display: flex;
  height: 100vh;
  padding: 40px;
  background: url("https://images.unsplash.com/photo-1641641719834-5f1b8d2c7b75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1536&q=80");
  background-size: cover;
  background-position: center;
  justify-content: center;
}

.app__container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(49, 49, 58, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px;
  display: flex;
  justify-content: space-around;
  width: 55%;
  color: white;
  height: fit-content;
}

.app__info {
  padding: 12px;
}

.app__form > input {
  text-align: center;
  padding: 7px;
  margin: 7px 0;
}

.app__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
}

.weather {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .app__container {
    flex-direction: column;
  }

  .app__left {
    padding-bottom: 30px;
  }
}
